<div class="movie-card">
  <img alt="{{movie.Title}}"
       class="movie-poster" src="{{movie.Poster}}"/>
  <div class="movie-details">
    <h2>{{ movie.Title }}</h2>
    <p>{{ movie.Year }}</p>
    <p>{{ movie.Type }}</p>


    <div class="movie-info">
      @if (searchDetails && !isReadMore) {
        @for (searchEntries of Object.entries(searchDetails); track searchEntries[0]) {
          @if (searchEntries[1].toString() !== 'N/A') {
            <p><strong>{{ searchEntries[0] }}:</strong> {{ searchEntries[1] }}</p>
          }
        }
      }
    </div>

    <button (click)="openReadMoreDetails()" *ngIf="isReadMore" class="read-more-button">Read More</button>
    <button (click)="closeReadMoreDetails()" *ngIf="!isReadMore" class="read-more-button">Close</button>
  </div>
</div>
